*{
    font-family: "Comic Sans MS", "Comic Sans", "Comic Neue", Arial, Helvetica, sans-serif;
}
a{
    color: blue;
}
#playlist{
    width: 100%;
    height:30vh;
    overflow-y: scroll;
}
body{
    background-color: black;
    color: white;
}
#container{
    min-width: 290px;
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgba(0,0,90,0.5);
}
button, input[type="file"] {
    background-color: rgba(255,255,255,0.5);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
button:hover, input[type="file"]:hover {
    background-color: rgba(255,255,255,0.8);
}

